.control-form__span {
  display: block;
  align-items: center;
  justify-content: space-between;
  width: 15px;
  height: 15px;
  background: linear-gradient(86.93deg, #B8884B 0%, #CC9C55 100%);
  border: 2px solid rgba(241, 245, 248, 0.3);
}

.contact-form__inner {
  display: flex;
  align-items: center;
  margin: 160px 0;
}

.quvr-img {
  position: relative;
  margin-left: auto;
}

.contact-form__form {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 564px;
  padding: 50px 49px;
  background: rgba(241, 245, 248, 0.8);
  border: 1px solid rgba(37, 45, 53, 0.1);
  backdrop-filter: blur(15px);
}

.contact-form__title {
  margin: 0;
  margin-bottom: 30px;
  margin-bottom: 20px;
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 60px;
  line-height: 65px;
  color: #252D35;
}

.contact-form__text {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Gilroy';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #252D35;
}

.label-name {
  display: inline-flex;
  width: 100%;
  max-width: 260px;
  margin-bottom: 15px;
  padding: 15px 10px;
  border: 2px solid #252D35;
}

.label-name::before {
  display: inline-block;
  content: '';
  width: 100%;
  max-width: 20px;
  height: 20px;
  margin: auto 0;
  background-image: url('../../../images/contact/person-icon.svg');
}

.label-tel {
  display: inline-flex;
  width: 100%;
  max-width: 260px;
  margin-bottom: 15px;
  padding: 15px 10px;
  border: 2px solid #252D35;
}

.label-tel::before {
  display: inline-block;
  content: '';
  width: 100%;
  max-width: 20px;
  height: 20px;
  margin: auto 0;
  background-image: url('../../../images/contact/tel-icon.svg');
}


.label-email {
  display: inline-flex;
  width: 100%;
  max-width: 260px;
  padding: 15px 10px;
  border: 2px solid #252D35;
}

.label-email::before {
  display: inline-block;
  content: '';
  width: 100%;
  max-width: 20px;
  height: 20px;
  margin: auto 0;
  background-image: url('../../../images/contact/message-icon.svg');
  background-repeat: no-repeat;
}


.input-name {
  border: none;
  outline: none;
  background-color: transparent;
}

.input-tel {
  border: none;
  outline: none;
  background-color: transparent;
}

.input-email {
  border: none;
  outline: none;
  background-color: transparent;
}

.control-form__span {
  margin-right: 10px;
}

.control-form__span2 {
  display: block;
  width: 100%;
  max-width: 218px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #252D35;
  opacity: 0.5;

}

.w {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.control-form__btn {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 260px;
  padding: 15px 50px;
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #F1F5F8;
  background: linear-gradient(86.93deg, #B8884B 0%, #CC9C55 100%);
  border: 2px solid rgba(241, 245, 248, 0.3);
  box-shadow: 0px 8px 20px rgba(202, 154, 84, 0.35);
  
}

.control-form__btn:hover{
  background: rgba(184,136,75,0.5);
  transition: all 0.5s ease;
}

.control-form__btn::after {
  display: inline-block;
  content: '';
  width: 100%;
  max-width: 12px;
  height: 20px;
  margin-left: 8px;
  background-image: url('../../../images/contact/strelka3.png');
  background-repeat: no-repeat;
  
}

@media only screen and (max-width:576px) {

  .contact-form {
    margin-top: 240px;

  }

  .contact-form__form {
    max-width: 450px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .contact-form__title {
    font-size: 50px;
    line-height: 55px;
  }

  .quvr-img {
    display: none;
  }
}