.project-hero {
  padding: 40px 0 110px;
}

.project-hero__heading {
  margin: 0 auto 40px;
  width: 100%;
  max-width: 1050px;
}

.project-hero__desc {
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-hero__link {
  display: inline-block;
  padding: 15px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #252d35;
  text-decoration: none;
  text-align: center;
  border: 2px solid #252d35;
}

.project-hero__link1 {
  width: 155px;
}

.project-hero__link3 {
  width: 180px;
}

.project-hero__desc--content {
  background-color: #252d351a;
}

.project-hero__link2 {
  display: inline-block;
  padding: 19px 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-align: center;
  color: #252d35;
}

.project-hero__link2:hover {
  background: linear-gradient(86.93deg, #b8884b 0%, #cc9c55 100%);
  color: #f1f5f8;
}

.project-hero__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.project-hero__box {
  position: relative;
  width: 100%;
  max-width: 740px;
}

.project-hero__box1 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 15px 0 15px 15px;
  width: 100%;
  max-width: 715px;
  background: rgba(241, 245, 248, 0.8);
  backdrop-filter: blur(15px);
}

.project-hero__box1--title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #252d35;
}

.project-hero__box1--text {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #252d35;
}

.wrapper-link:hover {
  background: #b8884b33;
  color: #000;
}
